.ReactFlipCard {
  margin: 25px;
  text-align: center;
}
.ReactFlipCard,
.ReactFlipCard__Front,
.ReactFlipCard__Back {
  box-sizing: border-box;
  width: 500px;
  height: 400px;
}
.ReactFlipCard__Front,
.ReactFlipCard__Back {
  border-radius: 10px;
  border: 1px solid #ccc;
}
.ReactFlipCard__Front {
  background-color: rgba(255, 255, 255);
}
.ReactFlipCard__Back {
  background-color: rgb(255, 255, 255);
  padding: 25px;
}