.pretty-header {
    position: relative;
    /* z-index: 1; */
  }
  .pretty-header:after {
    background: #1d083b;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    backface-visibility: hidden;
  }
  .pretty-header:after {
    bottom: 0;
    transform: skewY(-1.5deg);
    transform-origin: 100%;
  }
  
/* .profileimg {
    display: block;
    padding-top: 5%;
    padding-bottom: 5%;
} */